*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.s
*.dot
*.abi.hpp
*.cmake
!.cicd
!CMakeModules/*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester


libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/wasm-jit/Source/Programs/Assemble
libraries/wasm-jit/Source/Programs/Disassemble
libraries/wasm-jit/Source/Programs/Test
libraries/wasm-jit/Source/Programs/wavm

programs/clscs/clscs
programs/js_operation_serializer/js_operation_serializer
programs/data-dir
programs/lcscs-abigen/lcscs-abigen
programs/clscs/config.hpp
programs/lcscs-applesedemo/lcscs-applesedemo
programs/lcscs-launcher/config.hpp
programs/lcscs-launcher/lcscs-launcher
programs/kscsd/kscsd
programs/nodscs/config.hpp
programs/nodscs/nodscs

scripts/tn_init.sh

tests/plugin_test
unittests/unit_test

doxygen
scs.doxygen

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo

Testing/*
build.tar.gz
build/*
build-debug/*

etc/lcscs/node_*
var/lib/node_*
.vscode
.idea/
*.iws
.DS_Store

!*.swagger.*
